isort==5.7.0
click==7.1.2
neo4j==4.1.1
pytest==6.1.1
flake8==3.8.4
wikipedia==1.4.0
spacy==2.3.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm
