@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css");

.submit-button {
  width: 8%;
  outline: 0;
  border-radius: 15px 15px 15px 15px;
  margin: 0 10px;
}

.input-custom {
  width: 40%;
  font-size: 26px;
  margin: auto;
  outline: 0;
  border-radius: 15px 15px 15px 15px;
}

.padding {
  padding-left: 12px;
  padding-right: 12px;
}

.info {
  width: 70%;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: 26px;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

html,
.bg {
  background-color: #cdcaf8;
}

.align-right {
  float: right;
}
